/* HEADER */

header{ /* FUNDO DO TÍTULO */
    background-color: #292828;
    width: 500px; /* delimitando o tamanho do header, delimita a linha */
    height: 80px;
    border-bottom-style: solid;
    border-color: white;
    margin: auto;
}
header p{ /* TÍTULO */
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* COLOCA O TEXTO NO CENTRO VERTICALMENTE */
    font-size: 30px;
}

/* MENU */

.topo ul{ /* MENU INTEIRO */
    list-style: none;
    margin-top: 25px;
    padding: 0;
    margin-bottom: 0;
}
.menu li{ /* ITENS DO MENU */
    color: white;
    display: inline-block;
    width: 130px;
}
.menu li a{ /* LINK DOS ITENS */
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.menu li a:hover{ /* ITEM DO MENU QUANDO PASSA MOUSE EM CIMA */
    background:#333;
    color:#fff;
    text-decoration: underline;
    font-size: 17px;
}

/* CONTEÚDO */

body{ /* CORPO */
    background-color: #292828;
    margin: 0px;
    text-align: center;
}
body .TableHome{
    list-style: none;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0;
    width: fit-content;
}
body .Texto{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: justify;
    height:100%;
	width:100%;
}
body .BotãoCardápio{
    background-color: red;
    color: white;
    border-radius: 5px;
    border-color: red;
    box-shadow: none;
}
body .BotãoCardápio a{
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border-color: red;
    box-shadow: none;
}
body .BotãoReserva{
    background-color: red;
    color: white;
    border-radius: 5px;
    border-color: red;
    box-shadow: none;
    margin: 40px;
}
body .BotãoReserva a{
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border-color: red;
    box-shadow: none;
}

/* RODAPÉ */

footer /* RETÂNGULO RODAPÉ */
{
    background-color: #0F0E0E;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    text-align: center;
    margin-top: 60px;
}
footer ul{ /* MENU DO RODAPÉ */
    list-style: none;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0;
}
footer li{ /* ITENS DO MENU DO RODAPÉ */
    color: white;
    display: inline-flex;
    position: static;
    text-align: center;
    align-items: center;
    position: static;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding-left: 50px;
    padding-right: 50px;
}
footer li a{ /* LINK DOS ITENS DO MENU */
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
footer li a:hover{ /* LINKS DOS ITENS DO MENU QUANDO MOUSE PASSA EM CIMA */
    color:#fff;
    text-decoration: underline;
}
